<?xml version='1.0' encoding='utf-8'?>
<widget id="com.descubrenear.trivia" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Trivias Near</name>
    <description>
        Trivias Near
    </description>
    <author email="descubrenear@gmail.com" href="http://descubrenear.com">
        Descubre Near
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
    <engine name="android" spec="~7.0.0" />
</widget>
